@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: white;
    font-family: "Lora", serif;
}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover {
    color: #efefef;
}

.form {
    background: rgba(239, 239, 239, 0);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;

}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #000000;
    background: rgba(239, 239, 239, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {

    background: #6e6e6e;
    color: #000000;
}

.tab-group .active a {
    background: #efefef;
    color: #000000;
}

.tab-content > div:last-child {
    display: none;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgb(0, 0, 0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #ff0000;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #000000;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    background: none;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #000000;
}

input:disabled {
    background: #efefef;
}

textarea {
    border: 2px solid #000000;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 1px solid #000000;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;

    background: #efefef;
    color: #000000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #6e6e6e;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

/* LIST */

#container {
    position: relative;
    width: 968px;
    margin: 0 auto;
    transition: ease-in
}

#container ul {
    list-style: none;
}

#container .buttons {
    margin: 10px 0px 0 380px;
}

#container .grid li:hover {
    transition: 0.5s ease;
}

#container .grid li {
    float: left;
    width: 400px;
    height: 300px;
    border-top: 8px solid #6e6e6e;
    margin: 20px 25px;
    padding: 0 20px 20px 20px;
    text-align: left;
}

#container .list li {
    float: left;
    width: 100%;
    height: 300px;
    margin: 2px 15px;
    padding: 0 20px 15px;
    text-align: left;
}

#container .list li:hover {
    transition: 0.5s ease;
}

#container .list li button {
    display: none;
}

#container li:nth-child(odd) {
    background: #efefef;
}

#container li:first-child {
    border-top: 8px solid #6e6e6e;
}

#container li:nth-child(even) {
    background: #efefef;
}

.float-left {
    float: left;
    padding-right: 20px;
}

.square-btn {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border: 2px solid #d6d6d6;
    background: #ffffff;
    border-radius: 3px;
}

.square-btn:hover {
    background: #58595b;
    color: #ffffff;
}

.square-btn:active {
    background: #58595b;
    color: #ffffff;
}

.author {
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    padding-right: 10px;
    border-right: 1px solid #626262;
}

.date {
    font-weight: normal;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #626262;
}

.time {
    font-weight: normal;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    padding: 0 10px;
}

button {
    outline: none;
}

button .square-btn:active {
    background: #74d2ff;
    color: #ffffff;
}

/* SLIDER */

#wrapper {
    width: 600px;
    margin: 50px auto;
    height: 400px;
    position: relative;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
}

#slider-wrap {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#slider-wrap ul#slider li > div {
    position: absolute;
    top: 20px;
    left: 35px;
}

#slider-wrap ul#slider li > div h3 {
    font-size: 36px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li > div span {
    font-family: Neucha, Arial, sans serif;
    font-size: 21px;
}

#slider-wrap ul#slider li i {
    text-align: center;
    line-height: 400px;
    display: block;
    width: 100%;
    font-size: 90px;
}

/*btns*/
.btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
}

#counter {
    top: 30px;
    right: 35px;
    width: auto;
    position: absolute;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

#pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#pagination-wrap ul {
    width: 100%;
}

#pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
}

#slider-wrap ul, #pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -moz-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -ms-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

#profile {
    position: relative;
    margin: 90px auto;
    width: 324px;
}

#profile .img {
    position: absolute;
    top: -50px;
    left: 50%;
    margin: 0 0 0 -42px;
    width: 76px;
    height: 76px;
    border: 4px solid #ecf0f1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
    background: #ecf0f1 url("http://img.lukepeters.me/jack.jpg") 0 0 no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#profile .btn:hover, #profile .btn:visited:hover {
    color: rgba(255, 255, 255, 0.8);
    background: #ea6557;
}
#profile .btn.btn_left, #profile .btn:visited.btn_left {
    left: 10px;
}
#profile .btn.btn_right, #profile .btn:visited.btn_right {
    right: 10px;
}
#profile .info {
    position: relative;
    padding: 42px 22px 18px 22px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ecf0f1;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
#profile .info strong {
    font-weight: 400;
}